@charset "UTF-8";

.body {
	background-color: black;
}

.navbar {
    color: #64c3d0;
    font-family: bebas neue;
    font-size: x-large;
}

.paragraph {
    color: white;
    text-align: center;
    font-family: Avenir "Avenir Next Condensed Regular";
    font-size: large;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
}

.values {
    color: #64C3D0;
    Font-family: bebas neue;
    font-size: xx-large;
    text-align: center;
}

.h2 {
	color: #64C3D0;
	font-family: "bebas-neue";
	text-align:center;	
}


.paragraph2 {
    color: #64C3D0;
    font-family: "bebas-neue";
    text-align: center;
    font-size: x-large;
}

.paragraph3 {
    color: white;
    margin-left: 29px;
    margin-right: 29px;
	
}

.paragraph4 {
    color: #64C3D0;
    font-family: "bebas-neue";
	margin-left: 29px;
	margin-right:29px;
}

.h3 {
    text-align: center;
    color: #64C3D0;
    font-family: "bebas-neue";
    font-size: xx-large;
}

.list {
    color: white;
    text-align: center;
    font-size: 22pt;
    font-family: "Avenir Next Condensed";
    font-weight: lighter;
    text-decoration: none;
    font-variant: normal;
    font-style: normal;
}

.paragraph5 {
    color: white;
    font-family: 'bebas-neue';
    text-align: center;
    font-size: 24pt;
}

.logo1 {
	float: left;
	margin-left: 300px;
}

.logo2 {
	float: right;
	margin-right: 300px;
}
label {
	color: #ffffff;
	font-family: "bebas-neue";
	font-size: large;
}
